<h1><%= @song.title %></h1>

<!-- Add code here to link to the post's category. -->
<h1><%= @song.title %></h1>

<h3>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) if @song.artist %></h3>

<p><%= @post.description %></p>

<p><%= @post.description %></p>
